<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>404</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="author" content="Barnaby Thieme">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    {{!-- <script src="./js/app.js" defer></script> --}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/icon.png" type="image/x-icon">
</head>

<body>
    <div class="main-content">
        <header>
            {{>header}}
        </header>
        <main>
            <p><strong>Error</strong>: The {{pageType}} you're looking for does not exist.</p>
        </main>
    </div>

    <footer>
        {{>footer}}
    </footer>
</body>

</html>